<h3 class="ui header">Advertising Costs</h3>


<div class="ui grid">
  <div class="sixteen column row">

    <div class="eight wide column">
      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">3.1 Media Expenses</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.1</label>
              <label style="width: 45%;">Media Expenses</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.1.1</label>
              <label style="width: 45%;">Recording (Radio)</label>
              <input placeholder="Recording (Radio)" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.1.2</label>
              <label style="width: 45%;">Broadcasting (Radio)</label>
              <input placeholder="Broadcasting (Radio)" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.1.3</label>
              <label style="width: 45%;">Artwork (Press)</label>
              <input placeholder="Artwork (Press)" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.1.4</label>
              <label style="width: 45%;">Paper Advertisements</label>
              <input placeholder="Paper Advertisements" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.1.5</label>
              <label style="width: 45%;">Artwork (TV)</label>
              <input placeholder="Artwork (TV)" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.1.6</label>
              <label style="width: 45%;">Recording (TV)</label>
              <input placeholder="Recording (TV)" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.1.7</label>
              <label style="width: 45%;">Telecasting (TV)</label>
              <input placeholder="Telecasting (TV)" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.1.8</label>
              <label style="width: 45%;">Internet (ikman.lk)</label>
              <input placeholder="Internet (ikman.lk)" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>
        </div>
      </div>

      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">
            3.3 Mobile Unit Expenses
          </h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.3</label>
              <label style="width: 45%;">Mobile Unit Expenses</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.3.1</label>
              <label style="width: 45%;">Artwork</label>
              <input placeholder="Artwork" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.3.2</label>
              <label style="width: 45%;">Recordings</label>
              <input placeholder="Recordings" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.3.3</label>
              <label style="width: 45%;">Production</label>
              <input placeholder="Production" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.3.4</label>
              <label style="width: 45%;">Operation Expenses</label>
              <input placeholder="Operation Expenses" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.3.5</label>
              <label style="width: 45%;">Safari Vehicles</label>
              <input placeholder="Safari Vehicles" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

        </div>
      </div>

      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">3.5 Other Expenses</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.5</label>
              <label style="width: 45%;">Other Expense</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.5.1</label>
              <label style="width: 45%;">Sale Initiation Day Expenses</label>
              <input placeholder="Sale Initiation Day Expenses" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.5.2</label>
              <label style="width: 45%;">Unforseen Expenses</label>
              <input placeholder="Unforseen Expenses" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.5.3</label>
              <label style="width: 45%;">General Advertising</label>
              <input placeholder="General Advertising" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="eight wide column">
      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">3.2 Banner Expenses</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.2</label>
              <label style="width: 45%;">Banner Expenses</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.2.1</label>
              <label style="width: 45%;">Artwork</label>
              <input placeholder="Artwork" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.2.2</label>
              <label style="width: 45%;">Printing</label>
              <input placeholder="Printing" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.2.3</label>
              <label style="width: 45%;">Approval and Hanging</label>
              <input placeholder="Approval and Hanging" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.2.4</label>
              <label style="width: 45%;">Hoardings</label>
              <input placeholder="Hoardings" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.2.5</label>
              <label style="width: 45%;">P.P.Boards</label>
              <input placeholder="P.P.Boards" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.2.6</label>
              <label style="width: 45%;">Posters</label>
              <input placeholder="Posters" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.2.7</label>
              <label style="width: 45%;">Stickers</label>
              <input placeholder="Stickers" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.2.8</label>
              <label style="width: 45%;">Day Cards</label>
              <input placeholder="Day Cards" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.2.9</label>
              <label style="width: 45%;">Facility Board & Block No.Board</label>
              <input placeholder="Facility Board & Block No.Board" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

        </div>
      </div>

      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">3.4 Leaflets Expenses</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.4</label>
              <label style="width: 45%;">Leaflet Expenses</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.4.1</label>
              <label style="width: 45%;">Artwork</label>
              <input placeholder="Artwork" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.4.2</label>
              <label style="width: 45%;">Printing</label>
              <input placeholder="Printing" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.4.3</label>
              <label style="width: 45%;">Distribution</label>
              <input placeholder="Distribution" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

        </div>
      </div>


      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <div class="ui grid">
            <div class="three column row">
              <div class="left floated column">
                <h5 class="ui header">3.6 Extra Expenses</h5>
              </div>
              <div class="right floated column" style="text-align: right">
                <button class="mini ui blue button">
                  Add
                </button>
              </div>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.5</label>
              <label style="width: 45%;">Expense Description</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.4.1</label>
              <input placeholder="" style="width: 45%; text-align: right;" type="text">
              <input placeholder="amount" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>
        </div>
      </div>

      <div style="text-align: right">
        <div class="ui buttons">
          <button class="ui labeled icon button grey" (click)="btnBack();">
            <i class="left chevron icon"></i>
            Back
          </button>
          <button class="ui right labeled icon button teal" (click)="btnClickNext();">
            Forward
            <i class="right chevron icon"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>


