<div class="ui top fixed menu" style="background-color: #0e8c8c; height: 7%">
  <!--<h2 style="color: white; font-style: italic; font-family: 'Droid Serif'; text-anchor: end; text-shadow: black;-->
  <!--margin-top: 1%; margin-left: 1.5%">Century Finance</h2>-->

</div>
<div class="ui bottom attached segment pushable">
  <div class="ui visible  left vertical sidebar menu">
    <a class="item">
      <i class="home icon"></i>
      ****
    </a>
    <a class="item">

    </a>
    <a class="item">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item" routerLink="create-new">
      <i class="block layout icon"></i>
      Create New
    </a>
    <a class="item" routerLink="approved-projects">
      <i class="smile icon"></i>
      Approved Projects
    </a>
    <a class="item" routerLink="areawise-projects">
      <i class="calendar icon"></i>
      Areawise Projects
    </a>
    <a class="item" routerLink="rejected-projects">
      <i class="calendar icon"></i>
      Rejected Projects
    </a>
    <a class="item" routerLink="locations">
      <i class="calendar icon"></i>
      Locations
    </a>
    <a class="item">
      <i class="calendar icon"></i>
      Sales
    </a>
  </div>
  <div class="pusher" style="margin-right: 20%; height: 50px; overflow-y: scroll; margin-left: 3%;">
    <div class="ui basic segment" style="margin-top: 5.5%;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
