<h3 class="ui header">Resale Costs</h3>


<div class="ui grid">
  <div class="sixteen column row">

    <div class="eight wide column">
      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">4.1 Resale Costs 1</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">4.1</label>
              <label style="width: 45%;">Resale 01 (Advertising Expenses)</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">4.1.1</label>
              <label style="width: 45%;">Banner</label>
              <input placeholder="Banner" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">4.1.2</label>
              <label style="width: 45%;">Banner Approvals</label>
              <input placeholder="Banner Approvals" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">4.1.3</label>
              <label style="width: 45%;">Banner Hanging</label>
              <input placeholder="Banner Hanging" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">4.1.4</label>
              <label style="width: 45%;">Leaflet Printing</label>
              <input placeholder="Leaflet Printing" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">4.1.5</label>
              <label style="width: 45%;">Leaflet Distribution</label>
              <input placeholder="Leaflet Distribution" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">4.1.6</label>
              <label style="width: 45%;">Paper Advertisements</label>
              <input placeholder="Paper Advertisements" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>
        </div>
      </div>

      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <div class="ui grid">
            <div class="three column row">
              <div class="left floated column">
                <h5 class="ui header">6.1 Other Expenses</h5>
              </div>
              <div class="right floated column" style="text-align: right">
                <button class="mini ui blue button">
                  Add
                </button>
              </div>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">6.1</label>
              <label style="width: 45%;">Other Expenses</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.4.1</label>
              <input placeholder="Description" style="width: 45%; text-align: right;" type="text">
              <input placeholder="amount" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="eight wide column">
      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">5.1 Resale Costs 2</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">5.1</label>
              <label style="width: 45%;">Resale 02 (Advertising Expenses)</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">5.1.1</label>
              <label style="width: 45%;">Banner</label>
              <input placeholder="Banner" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">5.1.2</label>
              <label style="width: 45%;">Banner Approvals</label>
              <input placeholder="Banner Approvals" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">5.1.3</label>
              <label style="width: 45%;">Banner Hanging</label>
              <input placeholder="Banner Hanging" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">5.1.4</label>
              <label style="width: 45%;">Leaflet Printing</label>
              <input placeholder="Leaflet Printing" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">5.1.5</label>
              <label style="width: 45%;">Leaflet Distribution</label>
              <input placeholder="Leaflet Distribution" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">5.1.6</label>
              <label style="width: 45%;">Paper Advertisements</label>
              <input placeholder="Paper Advertisements" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>
        </div>
      </div>

      <div class="ui red secondary segment">
        <div class="ui form mini">

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">4.1</label>
              <label style="width: 45%;">Resale 01 Expenses</label>
              <input placeholder="Resale 01 Expenses" style="width: 45%; text-align: right;" type="text" disabled="disabled">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Resale 01 Cost/perch</label>
              <input placeholder="Resale 01 Cost/perch" style="width: 45%; text-align: right;" type="text" disabled="disabled">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">5.1</label>
              <label style="width: 45%;">Resale 02 Expenses</label>
              <input placeholder="Resale 02 Expenses" style="width: 45%; text-align: right;" type="text" disabled="disabled">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Resale 02 Cost/perch</label>
              <input placeholder="Resale 02 Cost/perch" style="width: 45%; text-align: right;" type="text" disabled="disabled">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">6.1</label>
              <label style="width: 45%;">Other Expenses</label>
              <input placeholder="Other Expenses" style="width: 45%; text-align: right;" type="text" disabled="disabled">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Other Cost/perch</label>
              <input placeholder="Other Cost/perch" style="width: 45%; text-align: right;" type="text" disabled="disabled">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Total Cost Of Project</label>
              <input placeholder="Total Cost Of Project" style="width: 45%; text-align: right;" type="text" disabled="disabled">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Cost Of Capital *</label>
              <input placeholder="Cost Of Capital *" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 20%;">Description</label>
              <textarea placeholder="Description" style="width: 70%; height: 50%" type="text"></textarea>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Total Cost of Project</label>
              <input placeholder="Total Cost of Project" style="width: 45%; text-align: right;" type="text" disabled="disabled">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Total Cost/perch</label>
              <input placeholder="Total Cost/perch" style="width: 45%; text-align: right;" type="text" disabled="disabled">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

        </div>
      </div>


      <div style="text-align: right">
        <div class="ui buttons">
          <button class="ui labeled icon button grey" (click)="btnBack();">
            <i class="left chevron icon"></i>
            Back
          </button>
          <button class="ui right labeled icon button teal" (click)="btnClickNext();">
            Forward
            <i class="right chevron icon"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>


