<div class="ui grid">
  <div class="sixteen column row">
    <div class="eight wide column">
      <div class="ui teal secondary segment">
        <form class="ui form mini">
          <div class="inline field">
            <label style="width: 28%">Land Name</label>
            <input name="Land Name" placeholder="Land Name" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Lot No</label>
            <input name="Lot No" placeholder="Lot No" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Value of the Land </label>
            <input name="Value of the Land " placeholder="Value of the Land " type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Initial Payment </label>
            <input name="Initial Payment " placeholder="Initial Payment " type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Rate of Interest(%) </label>
            <input name="Rate of Interest(%) " placeholder="40%" type="text" style="width: 28%;">
            <label style="width: 12%; margin-left: 2%">Months </label>
            <input name="Months" placeholder="Months" type="text" style="width: 28%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Value With Interest </label>
            <input name="Value With Interest " placeholder="Value With Interest " type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Balance Payment </label>
            <input name="Balance Payment " placeholder="Balance Payment " type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Capital Balance</label>
            <input name="Capital Balance" placeholder="Capital Balance" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Interest Balance</label>
            <input name="Interest Balance" placeholder="Interest Balance" type="text" style="width: 70%;">
          </div>
        </form>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui segment secondary teal">
        <form class="ui form mini">
          <div class="inline field">
            <label style="width: 28%">Customer Name</label>
            <input name="Customer Name" placeholder="Customer Name" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Customer NIC </label>
            <input name="Customer NIC " placeholder="Customer NIC " type="text" style="width: 70%">
          </div>
          <div class="inline field">
            <label style="width: 28%">Contact Number </label>
            <input name="Contact Number " placeholder="Contact Number " type="text" style="width: 70%">
          </div>
          <div class="inline field">
            <label style="width: 28%">Installment Date </label>
            <input name="Installment Date " placeholder="Installment Date " type="date" style="width: 70%">
          </div>
          <div class="inline field">
            <label style="width: 28%">Monthly Installment</label>
            <input name="Monthly Installment" placeholder="Monthly Installment" type="text" style="width: 28%;">
            <label style="width: 12%; margin-left: 2%">Penalty Percentage </label>
            <input name="Penalty Percentage " placeholder="Penalty Percentage " type="text" style="width: 28%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Schedule </label>
            <button class="ui right labeled icon button" style="width: 69s%">
              <i class="right arrow icon"></i>
              View Schedule
            </button>
          </div>
          <div class="inline field">
            <label style="width: 28%">Sales Officer </label>
            <input name="Sales Officer " placeholder="Sales Officer " type="text" style="width: 70%">
          </div>
        </form>
      </div>
      <form class="form ui">
        <div class="inline field">
          <label style="width: 35%">Installment Letter Posted:</label>
          <label>_ _</label>
        </div>
        <div class="inline field">
          <label style="width: 35%">Fencing Letter Posted:</label>
          <label>_ _</label>
        </div>
        <div style="text-align: right">
          <button class="ui linkedin button">
            <i class="envelope icon"></i>
            Generate Fencing Letter
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="ui divider"></div>

<h4>Make Payment Due Date : </h4>

<div class="ui grid">
  <div class="sixteen column row">
    <div class="eight wide column">
      <div class="ui teal secondary segment">
        <form class="ui form mini">
          <div class="inline field">
            <label style="width: 28%">Month Iteration</label>
            <input name="Month Iteration" placeholder="Month Iteration" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Amount</label>
            <input name="Amount" placeholder="Amount" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Cheque Number</label>
            <input name="Cheque Number" placeholder="Cheque Number" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Date</label>
            <input name="Date" placeholder="Date" type="date" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Discount Amount</label>
            <input name="Discount Amount" placeholder="Discount Amount" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Actual Amount</label>
            <input name="Actual Amount" placeholder="Actual Amount" type="text" style="width: 70%;">
          </div>
        </form>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui segment secondary teal">
        <form class="ui form mini">
          <div class="inline field">
            <label style="width: 28%">BBF</label>
            <input name="BBF" placeholder="BBF" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Due Payment Left</label>
            <input name="Due Payment Left" placeholder="Due Payment Left" type="text" style="width: 70%">
          </div>
          <div class="inline field">
            <label style="width: 28%">Penalty Due</label>
            <input name="Penalty Due" placeholder="Penalty Due" type="text" style="width: 70%">
          </div>
          <div class="inline field">
            <label style="width: 28%">Penalty Discount</label>
            <input name="Penalty Discount" placeholder="Penalty Discount" type="text" style="width: 70%">
          </div>
          <div class="inline field">
            <label style="width: 28%">Required Penalty Payment</label>
            <input name="Required Penalty Payment" placeholder="Required Penalty Payment" type="text"
                   style="width: 70%">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="ui grid" style="margin-top: -5%">
  <div class="sixteen column row">
    <div class="sixteen wide column">
      <div class="ui grid">
        <div class="sixteen column row">
          <div class="left floated column">

          </div>
          <div class="right floated column">
            <div class="ui right floated pagination menu mini">
              <a class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <table class="ui grey very compact table">
        <thead>
        <tr class="mini">
          <th>#</th>
          <th>Date</th>
          <th>Amount (Rs.)</th>
          <th>Cash/Cheque</th>
          <th>Cheque No.</th>
          <th>Arrears</th>
          <th>Penalty From Prev Month</th>
          <th>Penalty Discount</th>
          <th>Bal. BF</th>
          <th>Bal. CF</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
