<h3 class="ui header">Purchasing Costs</h3>
<div class="ui grid">
  <div class="sixteen column row">
    <div class="sixteen wide column">
      <div class="ui mini steps">
        <div class=" step" style="cursor: pointer">
          <!--<i class="truck icon"></i>-->
          <div class="content">
            <a href="main/create-new" style="font-weight: bold;color: black;">Land Details</a>
            <!--<div class="description">Choose your shipping options</div>-->
          </div>
        </div>
        <div class="active step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a href="main/purchasing-costs" style="font-weight: bold;color: black;">Purchasing Costs</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a style="font-weight: bold;color: black;" href="main/development-costs">Development Costs</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a style="font-weight: bold;color: black;" href="main/advertising-costs">Advertising Costs</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a style="font-weight: bold;color: black;" href="main/resale-costs">Resale Costs</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a style="font-weight: bold;color: black;" href="main/sales-and-profitability">Sales And Profitability</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a style="font-weight: bold;color: black;" href="main/preview-before-approval">Overview</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="ui grid">
  <div class="sixteen column row">

    <div class="eight wide column">
      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">1.1 Purchasing Costs</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.1</label>
              <label style="width: 45%;">Purchase Cost</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.1.1</label>
              <label style="width: 45%;">Price</label>
              <input placeholder="Price" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.1.2</label>
              <label style="width: 45%;">Extracts</label>
              <input placeholder="Extracts" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.1.3</label>
              <label style="width: 45%;">Valuation fee & Loan Charges</label>
              <input placeholder="Valuation fee & Loan Charges" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.1.4</label>
              <label style="width: 45%;">Title Insurance</label>
              <input placeholder="Title Insurance" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.1.5</label>
              <label style="width: 45%;">Title Report</label>
              <input placeholder="Title Report" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.1.6</label>
              <label style="width: 45%;">Stamp fees</label>
              <input placeholder="Stamp fees" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.1.7</label>
              <label style="width: 45%;">Legal fees</label>
              <input placeholder="Legal fees" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

        </div>
      </div>

      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">1.3 Approval Costs</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.3</label>
              <label style="width: 45%;">Approval Costs</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.3.1</label>
              <label style="width: 45%;">uda</label>
              <input placeholder="uda" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.3.2</label>
              <label style="width: 45%;">nbro</label>
              <input placeholder="nbro" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.3.3</label>
              <label style="width: 45%;">Perasari Charges</label>
              <input placeholder="Perasari Charges" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.3.4</label>
              <label style="width: 45%;">Town Planner</label>
              <input placeholder="Town Planner" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="eight wide column">
      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">1.2 Surveying Expenses</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.2</label>
              <label style="width: 45%;">Surveying Expenses</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.2.1</label>
              <label style="width: 45%;">Perimeter - 01 & 02</label>
              <input placeholder="Perimeter - 01 & 02" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.2.2</label>
              <label style="width: 45%;">Blocking Out</label>
              <input placeholder="Blocking Out" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.2.3</label>
              <label style="width: 45%;">Block Plan</label>
              <input placeholder="Block Plan" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

        </div>
      </div>

      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">1.4 Other Expenses</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.4</label>
              <label style="width: 45%;">Other Expenses</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.4.1</label>
              <label style="width: 45%;">Broker Charge</label>
              <input placeholder="Broker Charge" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

        </div>
      </div>

      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <div class="ui grid">
            <div class="three column row">
              <div class="left floated column">
                <h5 class="ui header">1.5 Extra Expenses</h5>
              </div>
              <div class="right floated column" style="text-align: right">
                <button class="mini ui blue button">
                  Add
                </button>
              </div>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.5</label>
              <label style="width: 45%;">Expense Description</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.4.1</label>
              <input placeholder="" style="width: 45%; text-align: right;" type="text">
              <input placeholder="amount" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>
        </div>
      </div>

      <div style="text-align: right">
        <div class="ui buttons">
          <button class="ui labeled icon button grey" (click)="btnBack();">
            <i class="left chevron icon"></i>
            Back
          </button>
          <button class="ui right labeled icon button teal" (click)="btnClickNext();">
            Forward
            <i class="right chevron icon"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>


<!--modal-->

<div class="ui basic modal" >
  <div class="ui icon header">
    <i class="exclamation triangle icon"></i>
    Confirm
  </div>
  <div class="content">
    <div class="ui teal secondary segment">
      <div class="ui form mini">
        <h5 class="ui header">1.4 Other Expenses</h5>

        <div class="inline fields">
          <div class="sixteen wide field">
            <label style="width: 10%">1.4</label>
            <label style="width: 45%;">Other Expenses</label>
            <label style="width: 45%; text-align: center">Amount</label>
          </div>
        </div>

        <div class="inline fields">
          <div class="sixteen wide field">
            <label style="width: 10%">1.4.1</label>
            <label style="width: 45%;">Broker Charge</label>
            <input placeholder="Broker Charge" style="width: 45%; text-align: right;" type="text">
          </div>
        </div>

        <div class="ui section divider"></div>
        <div class="inline fields">
          <div class="sixteen wide field">
            <label style="width: 10%"></label>
            <label style="width: 45%;">Sub Total</label>
            <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>
