<h3 class="ui header">Create New</h3>
<div class="ui grid">
  <div class="sixteen column row">
    <div class="sixteen wide column">
      <div class="ui mini steps">
        <div class="active step" style="cursor: pointer">
          <!--<i class="truck icon"></i>-->
          <div class="content">
            <a href="main/create-new" style="font-weight: bold;color: black;">Land Details</a>
            <!--<div class="description">Choose your shipping options</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a href="main/purchasing-costs" style="font-weight: bold;color: black;">Purchasing Costs</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a style="font-weight: bold;color: black;" href="main/development-costs">Development Costs</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a style="font-weight: bold;color: black;" href="main/advertising-costs">Advertising Costs</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a style="font-weight: bold;color: black;" href="main/resale-costs">Resale Costs</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a style="font-weight: bold;color: black;" href="main/sales-and-profitability">Sales And Profitability</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a style="font-weight: bold;color: black;" href="main/preview-before-approval">Overview</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="ui grid">
  <div class="sixteen column row">
    <div class="ten wide column">
      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">Land Details</h5>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%">Name</label>
              <input placeholder="Land Name" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%">Area</label>
              <input list="area" placeholder="Area" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%">Local Authority</label>
              <input list="area" placeholder="Area" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%"></label>
              <input placeholder="Authority" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%">Location Details</label>
              <textarea placeholder="Location Details" style=" height: 5px;"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">Land Owner</h5>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%">NIC</label>
              <input placeholder="Nic No" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%">Name</label>
              <input placeholder="Owner Name" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%">Contact Number</label>
              <input placeholder="Mobile No" type="number">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%">Address</label>
              <textarea placeholder="Address" style=" height: 5px;"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="six wide column">
      <div class="ui segment secondary grey">
        <div class="ui grid">
          <div class="four column row">
            <div class="left floated column">
              <h5 class="ui header">Documents</h5>
            </div>
            <div class="right floated column">
              <button class="mini ui blue button">
                Add
              </button>
            </div>
          </div>
        </div>
        <table class="ui very compact table">
          <thead>
          <tr>
            <th>#</th>
            <th>Document</th>
          </tr>
          </thead>
          <tbody>
          <tr style="cursor: pointer">
            <td>01</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>None Visiting / Local Authority</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>02</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Approval/Tea Board</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>03</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Approval/Rubber Board</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>04</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Approval/Coconut Board</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>05</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Street Line</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>06</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Title Report</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>07</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Perimeter Plan</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>08</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>nbro</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>09</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>uda</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>10</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Enviromental</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>11</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Municipal Council</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>12</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Pradeshiya Sabha</label>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="ui section divider"></div>
</div>

<div class="ui grid">
  <div class="sixteen column row">

    <div class="eight wide column">
      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">Extent and Pricing</h5>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 25%">Total Extent</label>
              <input placeholder="A" type="text" style="width: 20%; margin-right: 3%;margin-left: 2%">
              <input placeholder="R" type="text" style="width: 20%; margin-right: 3%">
              <input placeholder="P" type="text" style="width: 20%">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Total in purchase</label>
              <input placeholder="Total in purchase" type="text" disabled="disabled">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Roadways (P) </label>
              <input placeholder="Roadways (P)" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Reservations (P)</label>
              <input placeholder="Reservations (P)" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Sellable Area (P)</label>
              <input placeholder="Sellable Area (P)" type="text" disabled="disabled">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Original Price</label>
              <input placeholder="Original Price" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Negotiated Price</label>
              <input placeholder="Negotiated Price" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Price + Commission</label>
              <input placeholder="Price + Commission" type="text" disabled="disabled">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="eight wide column">
      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">Introducer / Broker</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">NIC</label>
              <input placeholder="Nic" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Name</label>
              <input placeholder="Owner Name" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Contact Number</label>
              <input placeholder="Mobile No" type="number">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Commission</label>
              <input placeholder="Commission" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Address</label>
              <textarea placeholder="Address" style=" height: 5px;"></textarea>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Remarks</label>
              <textarea placeholder="Remarks" style=" height: 5px;"></textarea>
            </div>
          </div>

        </div>
      </div>
      <div style="text-align: right">
        <div class="ui buttons">
          <button class="ui labeled icon button grey">
            <i class="left chevron icon"></i>
            Cancel
          </button>
          <button class="ui right labeled icon button teal" (click)="btnClickNext();">
            Forward
            <i class="right chevron icon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="ui horizontal divider">
    Previous projects in the area
  </div>
</div>


<div class="ui grid">
  <div class="sixteen column row">
    <div class="sixteen wide column">
      <div class="ui grid">
        <div class="four column row">
          <div class="left floated column">
            <h5 class="ui header">Foreign projects</h5>
          </div>
          <div class="right floated column">
            <div class="ui right floated pagination menu">
              <a class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <table class="ui grey very compact table">
        <thead>
        <tr>
          <th>#</th>
          <th>Developer</th>
          <th>Project Name</th>
          <th>Commenced Date</th>
          <th>Total No of Lots</th>
          <th>No. of Unsold Lots</th>
          <th>Remarks</th>
          <th>Area</th>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="sixteen column row">
    <div class="sixteen wide column">
      <div class="ui grid">
        <div class="four column row">
          <div class="left floated column">
            <h5 class="ui header">Local projects</h5>
          </div>
          <div class="right floated column">
            <div class="ui right floated pagination menu">
              <a class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <table class="ui grey very compact table">
        <thead>
        <tr>
          <th>#</th>
          <th>Project Name</th>
          <th>Commenced Date</th>
          <th>Total No of Lots</th>
          <th>No. of Unsold Lots</th>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<datalist id="area">
  <option value="Internet Explorer">
  <option value="Firefox">
  <option value="Google Chrome">
  <option value="Opera">
  <option value="Safari">
</datalist>
