<h3>Reminder Letter Generation</h3>

<div class="ui grid">
  <div class="sixteen column row">
    <div class="eight wide column">
      <div class="ui teal secondary segment">
        <form class="ui form mini">
          <div class="inline field">
            <label style="width: 28%">Land Name</label>
            <input name="Land Name" placeholder="Land Name" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Lot No</label>
            <input name="Lot No" placeholder="Lot No" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Customer Name</label>
            <input name="Customer Name" placeholder="Customer Name" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Customer NIC </label>
            <input name="Customer NIC " placeholder="Customer NIC " type="text" style="width: 70%;">
          </div>

          <div class="inline field">
            <label style="width: 28%">Contact Number</label>
            <input name="Contact Number" placeholder="Contact Number" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Arrears Amount </label>
            <input name="Arrears Amount " placeholder="Arrears Amount " type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Arrears(Months) </label>
            <input name="Arrears(Months) " placeholder="Arrears(Months) " type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Installment Date </label>
            <input name="Installment Date " placeholder="Installment Date " type="date" style="width: 70%;">
          </div>
        </form>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui segment secondary teal">
        <form class="ui form mini">
          <div class="inline field">
            <label style="width: 28%">Address </label>
            <textarea name="Address " placeholder="Address " type="text"
                      style="width: 70%; height: 50%"></textarea>
          </div>
          <div class="inline field">
            <label style="width: 28%">Telephone No* </label>
            <input name="Telephone No* " placeholder="Telephone No* " type="text" style="width: 70%">
          </div>
          <div class="inline field">
            <label style="width: 28%">Employee/Business* </label>
            <input name="Employee/Business* " placeholder="Employee/Business* " type="text" style="width: 70%">
          </div>
          <div class="inline field">
            <label style="width: 28%">Designation </label>
            <input name="Designation " placeholder="Designation " type="text" style="width: 70%">
          </div>
          <div class="inline field">
            <label style="width: 28%">Office Contact No. </label>
            <input name="Office Contact No. " placeholder="Office Contact No. " type="text" style="width: 70%">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="ui divider"></div>

<div class="ui relaxed divided list">
  <div class="item">
    <i class="large envelope middle aligned icon"></i>
    <div class="content">
      <a class="header">Reminder 1</a>
      <div class="description">03/02/2018</div>
    </div>
  </div>
  <div class="item">
    <i class="large envelope middle aligned icon"></i>
    <div class="content">
      <a class="header">Reminder 2</a>
      <div class="description">03/02/2018</div>
    </div>
  </div>
  <div class="item">
    <i class="large envelope middle aligned icon"></i>
    <div class="content">
      <a class="header">Reminder 3</a>
      <div class="description">03/02/2018</div>
    </div>
  </div>
</div>

<div class="ui labeled button" tabindex="0">
  <div class="ui button red">
    <i class="exclamation triangle icon"></i> Termination Letter
  </div>
  <a class="ui basic label">
    8/3/2018
  </a>
</div>
