<div class="ui grid">
  <div class="sixteen column row">
    <div class="eight wide column">
      <h3>Schedule</h3>
      <div class="ui teal secondary segment">
        <form class="ui form mini">
          <div class="inline field">
            <label style="width: 28%">Contract No</label>
            <input name="Contract No" placeholder="Contract No" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Customer Name </label>
            <input name="Customer Name " placeholder="Customer Name " type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Balance Payment* </label>
            <input name="Balance Payment* " placeholder="Balance Payment* " type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Rate of Interest(%) </label>
            <input name="Rate of Interest(%) " placeholder="40%" type="text" style="width: 28%;">
            <label style="width: 12%; margin-left: 2%">Period </label>
            <input name="Rate of Interest(%) " placeholder="40%" type="text" style="width: 28%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Value With Interest </label>
            <input name="Value With Interest " placeholder="Value With Interest " type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Monthly Installment </label>
            <input name="Monthly Installment " placeholder="Monthly Installment " type="text" style="width: 70%;">
          </div>

          <div class="inline field">
            <label style="width: 28%">Upload Transfer Request </label>
            <select class="ui dropdown mini" style="height: 75%; width: 70%">
              <option value="Easy_Payment">Easy Payment</option>
              <option value="6_Months_Interest_Free">6 Months Interest Free</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div class="eight wide column">
      <form class="ui form">
        <div class="inline field">
          <label style="width: 30%">Upload Transfer Request </label>
          <select class="ui dropdown mini" style="height: 75%; width: 70%">
            <option value="Custom_Schedule">Custom Schedule</option>
            <option value="Amortized_Schedule">Amortized Schedule</option>
          </select>
        </div>
        <button class="massive ui button right floated "
                style="text-align: center; margin-right: 30%;color: #0e8c8c; background-color: transparent">
          <i class="print icon"></i>
        </button>
      </form>
    </div>
  </div>
</div>

<div class="ui grid" style="margin-top: -1%">
  <div class="sixteen column row">
    <div class="sixteen wide column">
      <table class="ui grey very compact table">
        <thead>
        <tr class="mini">
          <th>Inst. #</th>
          <th>Stock Balance</th>
          <th>Monthly Installment</th>
          <th>Capital Component</th>
          <th>Interest Component</th>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">1</td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">2</td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">3</td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">4</td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">5</td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">6</td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">7</td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">8</td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">9</td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">10</td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">11</td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">12</td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <button class="ui right floated button teal">Next</button>
    </div>
  </div>
</div>
