<div class="ui top fixed menu" style="background-color: #0e8c8c; height: 7%">
  <div class="left menu">
    <div class="item">
      <div class="smail ui icon input">
        <a class="item" style="font-weight: bold; font-size: medium; color: white">
          <i class="university icon"></i>
          Century Finance (Pvt) Ltd. [SALES]
        </a>
      </div>
    </div>
  </div>
  <div class="right menu">
    <div class="item">
      <div class="smail ui left icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search...">
      </div>
    </div>
    <a class="smail ui item" routerLink="login">
      <div class="ui animated button" tabindex="0">
        <div class="visible content">LOGOUT</div>
        <div class="hidden content">
          <i class="sign out alternate icon"></i>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="ui bottom attached segment  pushable">
  <div class="ui visible left vertical sidebar menu" style="background-color: #0e8c8c;">

    <a class="item" routerLink="/landing" style="color: white;font-weight: bold; margin-top: 20%">
      <i class="home icon"></i>
      Home
    </a>
    <div class="ui fitted divider"></div>

    <a class="item" routerLink="dashboard" style="color: white;font-weight: bold;">
      <i class="desktop icon"></i>
      Dashboard
    </a>
    <div class="ui fitted divider"></div>

    <a class="item" routerLink="create-customer" style="color: white;font-weight: bold;">
      <i class="user icon"></i>
      Create Customer
    </a>
    <div class="ui fitted divider"></div>

    <a class="item" routerLink="list-customer" style="color: white;font-weight: bold;">
      <i class="address book icon"></i>
      List Customers
    </a>
    <div class="ui fitted divider"></div>

    <a class="item" routerLink="project-codes" style="color: white;font-weight: bold;">
      <i class="tags icon"></i>
      Project Names and Codes
    </a>
    <div class="ui fitted divider"></div>

    <a class="item" routerLink="previous-agreements" style="color: white;font-weight: bold;">
      <i class="certificate icon"></i>
      Previous Agreements
    </a>
    <div class="ui fitted divider"></div>

    <a class="item" routerLink="approval-request" style="color: white;font-weight: bold;">
      <i class="folder icon"></i>
      Approve Request
    </a>
    <div class="ui fitted divider"></div>
  </div>
  <div class="pusher" style="margin-right: 20%; height: 50px; overflow-y: scroll; margin-left: 3%;">
    <div class="ui basic segment" style="margin-top: 5.5%;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
