<div class="ui grid">
  <div class="sixteen column row">
    <div class="eight wide column">
      <h3> Early Settlement </h3>
      <div class="ui teal secondary segment">
        <form class="ui form mini">
          <div class="inline field">
            <label style="width: 28%">Land Name</label>
            <input name="Land Name" placeholder="Land Name" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Lot No</label>
            <input name="Lot No" placeholder="Lot No" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Agreed Sale Price </label>
            <input name="Agreed Sale Price " placeholder="Agreed Sale Price" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Agreement Cover Price </label>
            <input name="Agreement Cover Price " placeholder="Agreement Cover Price " type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Contract No</label>
            <input name="Contract No" placeholder="Contract No" type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Customer Name </label>
            <input name="Customer Name " placeholder="Customer Name " type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Customer NIC </label>
            <input name="Customer NIC  " placeholder="Customer NIC " type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Upload Transfer Request </label>
            <input type="file" style="width: 40%">
            <button class="ui inverted blue button mini" style="width: 20%; margin-left: 2%">
              <i class="icon upload"></i></button>
          </div>
          <div class="inline field">
            <label style="width: 28%">Download Transfer Request </label>
            <select class="ui dropdown mini" style="height: 75%; width: 40%">
              <option value="Easy_Payment">--</option>
              <option value="6_Months_Interest_Free">--</option>
            </select>
            <button class="ui inverted blue button mini" style="width: 20%; margin-left: 2%">
              <i class="icon download"></i></button>
          </div>
        </form>
      </div>
    </div>
    <div class="eight wide column">
      <h3>Make Payment</h3>
      <div class="ui segment secondary teal">
        <form class="ui form mini">
          <div class="inline field">
            <label style="width: 28%">Payment Amount </label>
            <input name="Payment Amount " placeholder="Payment Amount " type="text" style="width: 70%;">
          </div>
          <div class="inline field">
            <label style="width: 28%">Cheque No </label>
            <input name="Cheque No " placeholder="Cheque No " type="text" style="width: 70%">
          </div>
          <div class="inline field">
            <label style="width: 28%">Payment Date</label>
            <input name="Payment Date" placeholder="Payment Date" type="date" style="width: 70%">
          </div>
          <div class="inline field">
            <label style="width: 28%">Discount Amount</label>
            <input name="Discount Amount" placeholder="Discount Amount" type="text" style="width: 70%">
          </div>
          <div class="inline field">
            <label style="width: 28%">Actual Payment </label>
            <input name="Actual Payment " placeholder="Actual Payment" type="number"
                   style="width: 70%">
          </div>
          <div class="inline field">
            <label style="width: 28%"> </label>
            <div class="ui checked checkbox">
              <input checked="" type="checkbox">
              <label>Other Payment</label>
            </div>
          </div>
          <div class="inline field">
            <label style="width: 28%"> </label>
            <div class="ui checked checkbox">
              <input checked="" type="checkbox">
              <label>Legal Payment</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="ui grid" style="margin-top: -7%">
  <div class="sixteen column row">
    <div class="sixteen wide column">
      <div class="ui grid">
        <div class="sixteen column row">
          <div class="left floated column">

          </div>
          <div class="right floated column">
            <div class="ui right floated pagination menu mini">
              <a class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <table class="ui grey very compact table">
        <thead>
        <tr class="mini">
          <th>Payment. #</th>
          <th>Date</th>
          <th>Amount (Rs.)</th>
          <th>Cash/Cheque</th>
          <th>Cheque No.</th>
          <th>Completed</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<button class="ui vk button" style="margin-top: 1%">Change Scheme</button>
<h3 class="ui block header mini orange">
  Appoval Status : Pending
</h3>


<div class="ui grid" style="margin-top: -1%">
  <div class="sixteen column row">
    <div class="sixteen wide column">
      <h4 class="teal" style="font-weight: bold; color: teal">Legal Payments - (Available- Rs.</h4>
      <table class="ui grey very compact table">
        <thead>
        <tr class="mini">
          <th></th>
          <th>Date</th>
          <th>Amount (Rs.)</th>
          <th>Cash/Cheque</th>
          <th>Cheque No.</th>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">Stamp</td>
          <td>
            <div class="ui input mini" style="width: 95%;">
              <input placeholder="" type="date">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">Notarial</td>
          <td>
            <div class="ui input mini" style="width: 95%;">
              <input placeholder="" type="date">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">Title Report</td>
          <td>
            <div class="ui input mini" style="width: 95%;">
              <input placeholder="" type="date">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">A.T.Form</td>
          <td>
            <div class="ui input mini" style="width: 95%;">
              <input placeholder="" type="date">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="ui grid" style="margin-top: -1%">
  <div class="sixteen column row">
    <div class="sixteen wide column">
      <h4 class="teal" style="font-weight: bold;color: teal">Other Payments - (Available- Rs.</h4>
      <table class="ui grey very compact table">
        <thead>
        <tr class="mini">
          <th></th>
          <th>Date</th>
          <th>Amount (Rs.)</th>
          <th>Cash/Cheque</th>
          <th>Cheque No.</th>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">Valuation</td>
          <td>
            <div class="ui input mini" style="width: 95%;">
              <input placeholder="" type="date">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">Bank Loan</td>
          <td>
            <div class="ui input mini" style="width: 95%;">
              <input placeholder="" type="date">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">Plan Copy</td>
          <td>
            <div class="ui input mini" style="width: 95%;">
              <input placeholder="" type="date">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">Extras</td>
          <td>
            <div class="ui input mini" style="width: 95%;">
              <input placeholder="" type="date">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        <tr style="cursor: pointer">
          <td style="font-weight: bold">Certified Copies</td>
          <td>
            <div class="ui input mini" style="width: 95%;">
              <input placeholder="" type="date">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
          <td>
            <div class="ui input mini">
              <input placeholder="" type="text">
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<button class="ui teal basic right labeled icon button" style="margin-top: 2%">
  <i class="right print icon"></i>
  Print Receipt
</button>
