<h3><i class="backward icon"><a href=""></a></i> Schedule</h3>

<div class="ui grid">
  <div class="sixteen column row">
    <div class="sixteen wide column">
      <div class="ui grid">
        <div class="sixteen column row">
          <div class="ten wide column">
            <form class="ui form" style="margin-bottom: 1%">
              <div class="inline field">
                <label style="width: 20%; font-weight: bold;">Schedule Type</label>
                <select class="ui dropdown mini" style="height: 58%; width: 80%">
                  <option value="Custom">Custom</option>
                  <option value="Amot">Amot</option>
                  <option value="Six_months">Six months</option>
                </select>
              </div>
            </form>
          </div>
          <div class="right floated column">
            <div class="ui right floated pagination menu mini">
              <a class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <table class="ui grey very compact table">
        <thead>
        <tr class="mini">
          <th>Inst. #</th>
          <th>Stock Balance</th>
          <th>Monthly Installment</th>
          <th>Capital Component</th>
          <th>Interest Component</th>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
