<div class="ui grid">
  <div class="sixteen column row">
    <div class="sixteen wide column">
      <div class="ui mini steps">
        <div class=" step" style="cursor: pointer">
          <!--<i class="truck icon"></i>-->
          <div class="content">
            <a href="main/create-new" style="font-weight: bold;color: black;">Land Details</a>
            <!--<div class="description">Choose your shipping options</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a href="main/purchasing-costs" style="font-weight: bold;color: black;">Purchasing Costs</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a style="font-weight: bold;color: black;" href="main/development-costs">Development Costs</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a style="font-weight: bold;color: black;" href="main/advertising-costs">Advertising Costs</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a style="font-weight: bold;color: black;" href="main/resale-costs">Resale Costs</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>
        <div class="step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a style="font-weight: bold;color: black;" href="main/sales-and-profitability">Sales And Profitability</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>
        <div class="active step" style="cursor: pointer">
          <!--<i class="payment icon"></i>-->
          <div class="content">
            <a style="font-weight: bold;color: black;" href="main/preview-before-approval">Overview</a>
            <!--<div class="description">Enter billing information</div>-->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="ui grid">
  <div class="row">
    <div class="eight wide column">
      <h4 class="ui header">Land Details</h4>
    </div>

    <div class="eight wide column" style="text-align: right">
      <div class="right floated column">
        <h4 class="ui header orange">Status : Pending</h4>
      </div>
    </div>
  </div>
</div>

<div class="ui grid">
  <div class="sixteen column row">

    <div class="eight wide column">
      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">Land</h5>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%">Name</label>
              <input placeholder="" type="text" disabled="disabled" style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%">Location</label>
              <input placeholder="" type="text" disabled="disabled" style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%">Local Authority</label>
              <input placeholder="" type="text" disabled="disabled" style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%"></label>
              <input placeholder="" type="text" disabled="disabled" style="border-bottom-color: black">
            </div>
          </div>

          <h5 class="ui header">Land Owner</h5>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%">Name</label>
              <input placeholder="" type="text" disabled="disabled" style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%">Address</label>
              <textarea placeholder="" style=" height: 5px;" disabled="disabled"
                        style="border-bottom-color: black"></textarea>
            </div>
          </div>


          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%">Location Details</label>
              <textarea placeholder="" style=" height: 5px;" disabled="disabled"
                        style="border-bottom-color: black"></textarea>
            </div>
          </div>

          <h5 class="ui header">Extent and Pricing</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 25%">Total Extent</label>
              <input placeholder="A" type="text"
                     style="width: 20%; margin-right: 3%;margin-left: 2%;border-bottom-color: black"
                     disabled="disabled">
              <input placeholder="R" type="text" style="width: 20%; margin-right: 3%;border-bottom-color: black"
                     disabled="disabled">
              <input placeholder="P" type="text" style="width: 20%;border-bottom-color: black" disabled="disabled">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Total in purchase</label>
              <input placeholder="Total in purchase" type="text" disabled="disabled" style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Roadways (P) </label>
              <input placeholder="Roadways (P)" type="text" disabled="disabled" style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Reservations (P)</label>
              <input placeholder="Reservations (P)" type="text" disabled="disabled" style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Sellable Area (P)</label>
              <input placeholder="Sellable Area (P)" type="text" disabled="disabled" style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Original Price</label>
              <input placeholder="Original Price" type="text" disabled="disabled" style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Negotiated Price</label>
              <input placeholder="Negotiated Price" type="text" disabled="disabled" style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 30%">Price + Commission</label>
              <input placeholder="Price + Commission" type="text" disabled="disabled"
                     style="border-bottom-color: black">
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="eight wide column" style="">
      <div class="ui segment secondary grey">
        <div class="ui grid">
          <div class="four column row">
            <div class="left floated column">
              <h5 class="ui header">Documents</h5>
            </div>
            <div class="right floated column">
              <!--<button class="mini ui blue button">-->
                <!--Add-->
              <!--</button>-->
            </div>
          </div>
        </div>
        <table class="ui very compact table">
          <thead>
          <tr>
            <th>#</th>
            <th>Document</th>
          </tr>
          </thead>
          <tbody>
          <tr style="cursor: pointer">
            <td>01</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>None Visiting / Local Authority</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>02</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Approval/Tea Board</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>03</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Approval/Rubber Board</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>04</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Approval/Coconut Board</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>05</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Street Line</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>06</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Title Report</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>07</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Perimeter Plan</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>08</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>nbro</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>09</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>uda</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>10</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Enviromental</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>11</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Municipal Council</label>
              </div>
            </td>
          </tr>
          <tr style="cursor: pointer">
            <td>12</td>
            <td>
              <div class="ui checkbox">
                <input name="example" type="checkbox">
                <label>Pradeshiya Sabha</label>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="eight wide column">
        <div class="ui teal secondary segment">
          <div class="ui form mini">
            <h5 class="ui header">Introducer / Broker</h5>

            <div class="inline fields">
              <div class="sixteen wide field">
                <label style="width: 30%">Name</label>
                <input placeholder="Owner Name" type="text" disabled="disabled" style="border-bottom-color: black">
              </div>
            </div>

            <div class="inline fields">
              <div class="sixteen wide field">
                <label style="width: 30%">Commission</label>
                <input placeholder="Commission" type="text" disabled="disabled" style="border-bottom-color: black">
              </div>
            </div>

            <div class="inline fields">
              <div class="sixteen wide field">
                <label style="width: 30%">Address</label>
                <textarea placeholder="Address" style=" height: 5px;" disabled="disabled"
                          style="border-bottom-color: black"></textarea>
              </div>
            </div>

            <div class="inline fields">
              <div class="sixteen wide field">
                <label style="width: 30%">Remarks</label>
                <textarea placeholder="Remarks" style=" height: 5px;" disabled="disabled"
                          style="border-bottom-color: black"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="ui horizontal divider">
    Previous projects in the area
  </div>
</div>


<div class="ui grid">
  <div class="sixteen column row">
    <div class="sixteen wide column">
      <div class="ui grid">
        <div class="four column row">
          <div class="left floated column">
            <h5 class="ui header">Foreign projects</h5>
          </div>
          <div class="right floated column">
            <div class="ui right floated pagination menu">
              <a class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <table class="ui grey very compact table">
        <thead>
        <tr>
          <th>#</th>
          <th>Developer</th>
          <th>Project Name</th>
          <th>Commenced Date</th>
          <th>Total No of Lots</th>
          <th>No. of Unsold Lots</th>
          <th>Remarks</th>
          <th>Area</th>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="sixteen column row">
    <div class="sixteen wide column">
      <div class="ui grid">
        <div class="four column row">
          <div class="left floated column">
            <h5 class="ui header">Local projects</h5>
          </div>
          <div class="right floated column">
            <div class="ui right floated pagination menu">
              <a class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <table class="ui grey very compact table">
        <thead>
        <tr>
          <th>#</th>
          <th>Project Name</th>
          <th>Commenced Date</th>
          <th>Total No of Lots</th>
          <th>No. of Unsold Lots</th>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        <tr style="cursor: pointer">
          <td>001</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="row">
  <div class="ui horizontal divider">
    Financial Overview
  </div>
</div>


<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <div class="ui teal secondary segment">
        <div class="ui form mini">

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 40%">Cash flow Period</label>
              <input placeholder="Price" style="width: 40%; text-align: right;" type="text" disabled="disabled"
                     style="border-bottom-color: black">
              <label style="width: 10%; text-align: center">Months</label>
            </div>
          </div>

          <div class="row">
            <div class="ui horizontal divider">---</div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.</label>
              <label style="width: 45%;">purchasing costs</label>
              <input placeholder="purchasing costs" style="width: 45%; text-align: right;" type="text"
                     disabled="disabled"
                     style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.</label>
              <label style="width: 45%;">Development Cost</label>
              <input placeholder="Development Cost" style="width: 45%; text-align: right;" type="text"
                     disabled="disabled"
                     style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.</label>
              <label style="width: 45%;">Advertising Expenses</label>
              <input placeholder="Advertising Expenses" style="width: 45%; text-align: right;" type="text"
                     disabled="disabled"
                     style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">4.</label>
              <label style="width: 45%;">Resale 01 expenses</label>
              <input placeholder="Resale 01 expenses" style="width: 45%; text-align: right;" type="text"
                     disabled="disabled"
                     style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">5.</label>
              <label style="width: 45%;">Resale 02 expenses</label>
              <input placeholder="Resale 02 expenses" style="width: 45%; text-align: right;" type="text"
                     disabled="disabled"
                     style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">6.</label>
              <label style="width: 45%;">Cost Of Money</label>
              <input placeholder="Cost Of Money" style="width: 45%; text-align: right;" type="text" disabled="disabled"
                     style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">7.</label>
              <label style="width: 45%;">Taxes & Levies</label>
              <input placeholder="Taxes & Levies" style="width: 45%; text-align: right;" type="text" disabled="disabled"
                     style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">8.</label>
              <label style="width: 45%;">Incentives</label>
              <input placeholder="Incentivesss" style="width: 45%; text-align: right;" type="text" disabled="disabled"
                     style="border-bottom-color: black">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Total Costs</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text" disabled="disabled"
                     style="border-bottom-color: black">
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui teal secondary segment">
        <div class="ui form mini">

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">1.</label>
              <label style="width: 45%;">Sale Price</label>
              <input placeholder="Sale Price" style="width: 45%; text-align: right;" type="text"
                     disabled="disabled"
                     style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.</label>
              <label style="width: 45%;">Total Cost</label>
              <input placeholder="Total Cost" style="width: 45%; text-align: right;" type="text"
                     disabled="disabled"
                     style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">3.</label>
              <label style="width: 45%;">Net Profit</label>
              <input placeholder="Net Profit" style="width: 45%; text-align: right;" type="text"
                     disabled="disabled"
                     style="border-bottom-color: black">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">4.</label>
              <label style="width: 45%;">ROI</label>
              <input placeholder="ROI" style="width: 45%; text-align: right;" type="text"
                     disabled="disabled"
                     style="border-bottom-color: black">
            </div>
          </div>
        </div>
      </div>


      <div class="ui form" style="margin-top: 50%;">
        <div class="inline fields">
          <div class="sixteen wide field">
            <label style="font-weight: bold;width: 30%">Prepared By : </label>
            <input placeholder="" type="text" disabled="disabled"
                   style="border-bottom-color: black; border-top-color: black; text-align: center"
                   value="Dhanushka Sandaruwan">
          </div>
        </div>
      </div>


      <div class="right floated column" style="text-align: right">
        <button class="ui labeled icon button red"><i class="ban icon"></i>Reject</button>
        <button class="ui right labeled icon button green"><i class="certificate icon"></i>Approve</button>
      </div>

    </div>
  </div>
  <div class="ui vertical divider">
    and
  </div>
</div>


<div class="ui horizontal segments">
  <div class="ui segment">
    <div class="ui card">
      <div class="content">
        <div class="center aligned header">Project Officer</div>
        <div class="center aligned description">
          <p style="font-weight: bold">Ready To Sent</p>
          <p>....................................................</p>
        </div>
      </div>
      <div class="extra content">
        <div class="center aligned author">
          Signature
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <div class="ui card">
      <div class="content">
        <div class="center aligned header">Branch Manager</div>
        <div class="center aligned description">
          <p style="font-weight: bold">Ready To Sent</p>
          <p>....................................................</p>
        </div>
      </div>
      <div class="extra content">
        <div class="center aligned author">
          Signature
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <div class="ui card">
      <div class="content">
        <div class="center aligned header">Head Office</div>
        <div class="center aligned description">
          <p style="font-weight: bold">Ready To Sent</p>
          <p>....................................................</p>
        </div>
      </div>
      <div class="extra content">
        <div class="center aligned author">
          Signature
        </div>
      </div>
    </div>
  </div>
</div>


