<h3 class="ui header">Development Costs</h3>


<div class="ui grid">
  <div class="sixteen column row">

    <div class="eight wide column">
      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">2.1 Land Preparation Costs</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.1</label>
              <label style="width: 45%;">Land Preparation Costs</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.1.1</label>
              <label style="width: 45%;">Clearing the Land</label>
              <input placeholder="Clearing the Land" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.1.2</label>
              <label style="width: 45%;">Machinery (JCB)</label>
              <input placeholder="Machinery (JCB)" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.1.3</label>
              <label style="width: 45%;">Machinery (Dozer and Excavator)</label>
              <input placeholder="Machinery (Dozer and Excavator)" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.1.4</label>
              <label style="width: 45%;">Transport (Tipper)</label>
              <input placeholder="Transport (Tipper)" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.1.5</label>
              <label style="width: 45%;">Drilling And Blasting Rocks</label>
              <input placeholder="Drilling And Blasting Rocks" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.1.6</label>
              <label style="width: 45%;">Finishing the Land</label>
              <input placeholder="Finishing the Land" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.1.7</label>
              <label style="width: 45%;">Purchasing Concrete Poles</label>
              <input placeholder="Purchasing Concrete Poles" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.1.8</label>
              <label style="width: 45%;">Purchasing Wooden Poles</label>
              <input placeholder="Purchasing Wooden Poles" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.1.9</label>
              <label style="width: 45%;">Labour Charges</label>
              <input placeholder="Labour Charges" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.1.10</label>
              <label style="width: 45%;">Staff Welfare</label>
              <input placeholder="Staff Welfare" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.1.11</label>
              <label style="width: 45%;">Labour Welfare</label>
              <input placeholder="Labour Welfare" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

        </div>
      </div>

      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">
            2.3 Public Infrastructure Costs
          </h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.3</label>
              <label style="width: 45%;">Public Infrastructure Costs</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.3.1</label>
              <label style="width: 45%;">Main Electricity</label>
              <input placeholder="Main Electricity" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.3.2</label>
              <label style="width: 45%;">Main Water Supply</label>
              <input placeholder="Main Water Supply" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

        </div>
      </div>

      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">2.5 Telephone Expenses</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.5</label>
              <label style="width: 45%;">Telephone Expenses</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.5.1</label>
              <label style="width: 45%;">Project Manager</label>
              <input placeholder="Project Manager" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.5.2</label>
              <label style="width: 45%;">Senior Manager</label>
              <input placeholder="Senior Manager" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.5.3</label>
              <label style="width: 45%;">Sales Manager</label>
              <input placeholder="Sales Manager" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.5.4</label>
              <label style="width: 45%;">Project Officer 1</label>
              <input placeholder="Project Officer 1" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.5.5</label>
              <label style="width: 45%;">Project Officer 2</label>
              <input placeholder="Project Officer 2" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="eight wide column">
      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">2.2 Construction Costs</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.2</label>
              <label style="width: 45%;">Construction Costs</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.2.1</label>
              <label style="width: 45%;">Side Drains (Roads)</label>
              <input placeholder="Side Drains (Roads)" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.2.2</label>
              <label style="width: 45%;">Culverts (Roads)</label>
              <input placeholder="Culverts (Roads)" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.2.3</label>
              <label style="width: 45%;">Concerting (Roads)</label>
              <input placeholder="Concerting (Roads)" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.2.4</label>
              <label style="width: 45%;">Tarring (Roads)</label>
              <input placeholder="Tarring (Roads)" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.2.5</label>
              <label style="width: 45%;">Barbwired Fench</label>
              <input placeholder="Barbwired Fench" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.2.6</label>
              <label style="width: 45%;">Parapet Wall</label>
              <input placeholder="Parapet Wall" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.2.7</label>
              <label style="width: 45%;">Water Project</label>
              <input placeholder="Water Project" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.2.8</label>
              <label style="width: 45%;">Project Office</label>
              <input placeholder="Project Office" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

        </div>
      </div>

      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">2.4 Traveling Expenses</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.4</label>
              <label style="width: 45%;">Traveling Expenses</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.4.1</label>
              <label style="width: 45%;">Project Manager</label>
              <input placeholder="Project Manager" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.4.2</label>
              <label style="width: 45%;">Senior Manager</label>
              <input placeholder="Senior Manager" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.4.3</label>
              <label style="width: 45%;">Sales Manager</label>
              <input placeholder="Sales Manager" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.4.4</label>
              <label style="width: 45%;">Project Officer 1</label>
              <input placeholder="Project Officer 1" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

        </div>
      </div>

      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <h5 class="ui header">2.6 Other Expenses</h5>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.6</label>
              <label style="width: 45%;">Other Expense</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.6.1</label>
              <label style="width: 45%;">Land Name Board</label>
              <input placeholder="Land Name Board" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.6.2</label>
              <label style="width: 45%;">Project Maintenance</label>
              <input placeholder="Project Maintenance" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.6.3</label>
              <label style="width: 45%;">Entertainment</label>
              <input placeholder="Entertainment" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.6.4</label>
              <label style="width: 45%;">Unforseen</label>
              <input placeholder="Unforseen" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.6.5</label>
              <label style="width: 45%;">Re-sale</label>
              <input placeholder="Re-sale" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

        </div>
      </div>

      <div class="ui teal secondary segment">
        <div class="ui form mini">
          <div class="ui grid">
            <div class="three column row">
              <div class="left floated column">
                <h5 class="ui header">2.7 Extra Expenses</h5>
              </div>
              <div class="right floated column" style="text-align: right">
                <button class="mini ui blue button">
                  Add
                </button>
              </div>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.7</label>
              <label style="width: 45%;">Expense Description</label>
              <label style="width: 45%; text-align: center">Amount</label>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%">2.7.1</label>
              <input placeholder="" style="width: 45%; text-align: right;" type="text">
              <input placeholder="amount" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>

          <div class="ui section divider"></div>
          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 10%"></label>
              <label style="width: 45%;">Sub Total</label>
              <input placeholder="Sub Total" style="width: 45%; text-align: right;" type="text">
            </div>
          </div>
        </div>
      </div>

      <div style="text-align: right">
        <div class="ui buttons">
          <button class="ui labeled icon button grey" (click)="btnBack();">
            <i class="left chevron icon"></i>
            Back
          </button>
          <button class="ui right labeled icon button teal" (click)="btnClickNext();">
            Forward
            <i class="right chevron icon"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>


