<h3 class="ui header">Customer</h3>

<div class="ui grid">
  <div class="sixteen column row">

    <div class="ten wide column">
      <div class="ui teal secondary segment">
        <div class="ui form mini">

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%;">NIC Number *</label>
              <input placeholder="NIC" style="width: 80%;  font-weight: bold;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%;">First Name *</label>
              <select style="width: 20%">
                <option>Mr</option>
                <option>Mrs</option>
                <option>Miss</option>
                <option>Master</option>
              </select>
              <input placeholder="First Name" style="width: 60%; font-weight: bold;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%;">Last Name *</label>
              <input placeholder="Last Name" style="width: 80%;font-weight: bold;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%;">Address *</label>
              <textarea style="width: 80%; height: 40%;"></textarea>
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%;">Date of Birth *</label>
              <input placeholder="Date of Birth" style="width: 80%;font-weight: bold;" type="date">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%;">Telephone *</label>
              <input placeholder="Tel" style="width: 80%;font-weight: bold;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%;">Mobile</label>
              <input placeholder="Mobile" style="width: 80%;font-weight: bold;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%;">Employee/Business *</label>
              <input placeholder="Employee/Business" style="width: 80%;font-weight: bold;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%;">Designation</label>
              <input placeholder="Designation" style="width: 80%;font-weight: bold;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%;">Office Contact No *</label>
              <input placeholder="Office Contact No" style="width: 80%;font-weight: bold;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 20%;">Annual Income *</label>
              <input placeholder="Annual Income" style="width: 80%;font-weight: bold;" type="text">
            </div>
          </div>

          <div class="inline fields">
            <div class="sixteen wide field">
              <label style="width: 25%;"></label>
              <div class="two ui buttons">
                <button class="ui button red">Cancel</button>
                <button class="ui button teal">Continue</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--<div class="eight wide column">-->
    <!--<div class="ui teal secondary segment">-->
    <!--<div class="ui form mini">-->

    <!--<div class="inline fields">-->
    <!--<div class="sixteen wide field">-->
    <!--<label style="width: 30%;">Lot No</label>-->
    <!--<input placeholder="Lot Number" style="width: 70%; text-align: right;" type="text" disabled>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="inline fields">-->
    <!--<div class="sixteen wide field">-->
    <!--<label style="width: 30%;">Extent (P)</label>-->
    <!--<input placeholder="Extent" style="width: 70%; text-align: right;" type="text">-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="inline fields">-->
    <!--<div class="sixteen wide field">-->
    <!--<label style="width: 30%;">Price/Perch</label>-->
    <!--<input placeholder="Price / Perch" style="width: 70%; text-align: right;" type="text">-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="inline fields">-->
    <!--<div class="sixteen wide field">-->
    <!--<label style="width: 30%;">GM's Price</label>-->
    <!--<input placeholder="GM's Price" style="width: 70%; text-align: right;" type="text">-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="inline fields">-->
    <!--<div class="sixteen wide field">-->
    <!--<label style="width: 30%;">Sales Value</label>-->
    <!--<input placeholder="Sales Value" style="width: 70%; text-align: right;" type="text" disabled>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="three ui buttons">-->
    <!--<button class="ui button teal">Dashboard</button>-->
    <!--<button class="ui button red">Cancel</button>-->
    <!--<button class="ui button green">Save Lot</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>
